
<div class="grid grid-cols-3">
  <div>
    <label for="filmName" class="block text-sm font-semibold leading-6 text-gray-900">Film name</label>
    <input type="text" name="serverLink" id="filmName"  class="block w-1/2 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

  </div>
  <div class="">
    <label for="aboutFilm" class="block text-sm font-semibold leading-6 text-gray-900">About film</label>
    <textarea type="text" name="serverLink" id="aboutFilm"  class="block w-1/2 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
  </div>
  <div>
    <label for="Category" class="block text-sm font-semibold leading-6 text-gray-900">Category</label>
    <input type="text" name="serverLink" id="Category"  class="block w-1/2 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

  </div>
  <div>
    <label for="ServerLink" class="block text-sm font-semibold leading-6 text-gray-900">Server Link</label>
    <input type="text" name="serverLink" id="ServerLink"  class="block w-1/2 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

  </div>
</div>

<div class="flex flex justify-center mt-4 space-x-4">
  <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
    update
  </button>
  <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
    update
  </button>
</div>


<div class="relative" style="min-height: 400px;">
  <div class="absolute bottom-0 w-full">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Color
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">
            Silver
          </td>
          <td class="px-6 py-4">
            Laptop
          </td>
          <td class="px-6 py-4">
            $2999
          </td>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Microsoft Surface Pro
          </th>
          <td class="px-6 py-4">
            White
          </td>
          <td class="px-6 py-4">
            Laptop PC
          </td>
          <td class="px-6 py-4">
            $1999
          </td>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Magic Mouse 2
          </th>
          <td class="px-6 py-4">
            Black
          </td>
          <td class="px-6 py-4">
            Accessories
          </td>
          <td class="px-6 py-4">
            $99
          </td>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

