<!-- film-details.component.html -->

<div class="bg-gray-300 w-full  mx-auto px-4 py-8">
  <!-- Video player -->
  <iframe width="100%" class=" h-96 mb-8" [src]="safeVideoUrl ? safeVideoUrl : null"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

  <!-- Film details -->
  <div>
    <h1 class="text-3xl font-bold mb-4">{{ this.film?.name }}</h1>
    <p class="text-lg text-gray-700">{{ this.film?.about }}</p>
  </div>
</div>
