
    <div (click)="navigateToFilmDetails(id)" class="w-fit bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <!-- <a routerLink="/film-details/:id" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img class="rounded h-52 w-full object-cover" [src]="imageUrl" />
      </a> -->
      <div><img class="rounded h-52 w-full object-cover" [src]="imageUrl" /></div>
      <h2 class="mt-2 text-lg font-semibold">{{ name }}</h2>
      <h2 class="mt-2 text-lg font-semibold">{{ id }}</h2>
    </div>



